.app-header {
    background-color: var(--clr1);
    color: black;
    padding-block: 1em;

}

.app-nav {
    display: flex;
    gap: 15px;
    text-transform: uppercase;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.google-map{
    width: 50%;
    height: 60vh;
    margin: 0 auto;
}