.about {
    margin-inline: 1rem;
    text-align: justify;

    h2 {
        text-align: center;
    }

    .google-map {
        margin: 0 auto;
        margin-bottom: 1rem;
        position: relative;
    }

    .branch-buttons {
        text-align: center;
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
    }

}
