.toy-preview {
    text-align: center;
    padding: 0.3em;
    display: flex;
    flex-direction: column;

    h4 {
        text-transform: capitalize;
        color: black;

        img {
            max-width: 170px;
        }
    }
}

.red {
    color: rgb(236, 27, 27);
}

.green {
    color: rgb(5, 190, 5);
}