button,
.btn {
    cursor: pointer;
    background-color: var(--clr2bg);
    margin: .5em;
    border: 0;
    padding: 0.5em 0.8em;
    border-radius: 4px;
    transition: .3s;
}

button:hover,
.btn:hover {
    scale: 1.1;
    /* color: white; */
}

input:focus,
.btn:focus {
    background-color: var(--clr1bg);
    transition: background-color 1s;
}

.btn {
    display: inline-block;
}